.ui-fade-enter-active,
.ui-fade-leave-active {
  opacity: 1;
  transition: opacity linear .2s;
}
.ui-fade-enter,
.ui-fade-leave-to {
  opacity: 0;
}

.ui-popup-enter-active,
.ui-popup-leave-active {
  opacity: 1;
  transition-duration: 400ms;
  transform: translate(-50%, -50%) scale(1)!important;
  transition-property: transform, opacity!important;
}
.ui-popup-leave-active {
  transition-duration: 300ms;
}
.ui-popup-enter {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.185)!important;
}
.ui-popup-leave-active {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.85)!important;
}

.ui-slide-enter-active,
.ui-slide-leave-active {
  opacity: 1;
  transition-duration: 400ms;
  transform: translate3d(0, 0, 0)!important;
  transition-property: transform, opacity!important;
}
.ui-slide-leave-active {
  transition-duration: 300ms;
}
.ui-slide-enter,
.ui-slide-leave-active {
  opacity: 0;
  transform: translate3d(0, 100%, 0)!important;
}
