.weui-cell_radio > * {
  pointer-events: none;
}
.ui-radio-icon {
  width: 24px;
  height:24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.ui-radio-label {
  vertical-align: middle;
}
.weui-cells_radio.ui-radio-disabled .weui-check:checked + .weui-icon-checked:before {
  opacity: 0.5;
}
